p#pogrubienie_spretka
{
font-size:32px;
color:#935cd2;
}
p#pochylona_spretka
{
font-size:37pt;
color:#F7C06E;
}	
p#index_gorny_spretka
{
font-size:1.2cm;
color:#A78E1E;
}
p#index_dolny_spretka
{
font-size:1.9cm;
color:rgb(24%,97%,92%);
}
p#mono_spretka
{
font-size:42px;
color:#27DE6E;
}
p#powiekszenie_spretka
{
color:#613EA0;
}
p#pomniejszenie_spretka
{
color:rgb(75%,65%,25%);
}